body {
    max-width: 1000px;
    background-color: #FAFAFA;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    padding: 7px;
}

nav {
    flex-basis: 200px;
    min-width: 200px;
    max-width: 200px;
    padding-right: 7px;
    background-color: #ff5555;
    margin: 0;
}


#homepage-content {
    flex-grow: 1;
    padding-left: 7px;
    margin: 0;
}