body {
    height: 100vh;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;   /* scroll thumb & track */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 12vh;
    min-height: 12vh;
    border-bottom: solid 0.1vh rgb(191, 191, 191);
}

main {
    overflow-y: scroll;
    scrollbar-color: rgb(213, 213, 213) white;
    scrollbar-width: thin;
    min-height: 78vh;
    margin-right: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vh;
}

main div {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

main .right{
    text-align: right;
}

.message{
    display: inline-block;
    min-width: 1vh;
    margin-top: 1px;
    margin-bottom: 0px;
    padding: 1vh;
    border-radius: 1.5vh;
    max-width: 65vw;
}

.message.blue {
    background-color: #0784fc;
    color: #fff;
    text-align: left;
}

.message.gray {
    background-color: #e4e4e4;
}

footer {
    
    height: 5vh;
    min-height: 5vh;
    
    width: 100%;
    background-color: #fff;
}

footer #input-bar {
    display: flex;
    flex-direction: row;
}

footer #input-bar img {
    height: 5vh;
}

footer #input-bar #text-input {
    height: 3.5vh;
    margin:0.75vh;
    padding-left: 1vw;
    
    border: solid 0.1vh rgb(191, 191, 191);
    border-radius: 2vH;
    flex-grow: 2;
    display: cell;
    line-height: 3.5vh;

    display: flex;
    justify-content: space-between;
}

footer #input-bar #text-input #send-button {
    display: inline-block;
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 1.25vh;
    margin-top: 0.5vh;
    background: #0784fc;
    background-size: contain;
    margin-right: 0.5vh;
    border: none;
    text-align: center;
    padding: 0;
}

footer #input-bar #text-input #send-button:hover {
    cursor: pointer;
    background: #349cfd;
}

footer #input-bar #text-input #send-button img{
    height: 80%;
    position: relative;
    left: 1px;
}