header {
    padding: 1vh 2vw 1vh 1vw;
    background-color: rgb(243, 243, 243);
    display: flex;
}

header #nav-hamburger {
    border: none;
    width: 100px;
    background-color: inherit;
    display: inline-block;
}

header #nav-hamburger:hover {
    background-color: inherit;
}

header span {
    display: inline-block;
}