#class-work {
    display: flex;
}

#week02{
    background: linear-gradient(rgba(0,0,0,0), #000), url(/assets/img/week02.jpg);
}

#week04{
    background: linear-gradient(rgba(0,0,0,0), #000), url(/assets/img/week04.jpg);
}

#week05{
    background: linear-gradient(rgba(0,0,0,0), #000), url(/assets/img/week05-plato.jpg);
}

#class-work a {
    width: 100px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 350px;
    text-align: center;
}