body{
    margin: 0 auto;
    padding: 3vw;
    max-width: 700px;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
}

code {
    font-family: monospace;
}

#code-container{
    padding: 2vw;
    border: solid 1px #DDD;
    display: inline-block;
    border-radius: 1vw;
}

img {
    width: 100%;
}