body {
    font-family: monospace;
    height: 100%;
    display: flex;
    background-color: #fff;
}

input {
    font-family: monospace;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

main * {
    margin-top: 1vh;
}

main div {
    display: flex;
}

main div input {
    flex-grow: 1;
}

a {
    color: #f2f2f2;
}