@keyframes change-color {
    0% {
        border-bottom: solid 1vh #b0f3ff;
        color: #b0f3ff;
    }
    50% {
        border-bottom: solid 1vh #dfb0ff;
        color:  #dfb0ff;;
    }
    100% {
        border-bottom: solid 1vh #b0f3ff;
        color: #b0f3ff;
    }
}

@keyframes cookie-popup {
    0% {
        right: -25vw;
    }

    10% {
        right: 0vw;
    }

    90% {
        right: 0vw;
    }

    100% {
        right: -25vw;
    }
}

#cookie-alert{
    height: 25vh;
    width: 21vw;
    position: absolute;
    bottom: 1vh;
    right: -25vw;
    background-color: #2c2c2c;
    animation: cookie-popup;
    animation-delay: 2s;
    animation-duration: 40s;
    color: #fff;
    padding: 2vw;
}

#cookie-container a {
    color: inherit;
}

#container a, #container a:visited {
    color: #2c2c2c;
}

body{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 7vh;

    color: #fff;
    line-height: 7vh;

    display: flex;
    justify-content: space-between;

    background-color: #2c2c2c;
    border-bottom: solid 1vh #fff;
    transition: all 1s;

    margin: 0 auto;

    display: sticky;
    top: 0;
}

header:hover {
    border-bottom: solid 1vh #b0f3ff;
    color: #b0f3ff;
    animation-name: change-color;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

header nav {
    margin-right: 3vw;
    width: 7vw;
    display: flex;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    margin: 1px;
    color: inherit
}

header nav a:hover {
    font-weight: bold;
}

header div#logo-container {
    width: 10vw;
}

h1, h2, h3, h4 {
    margin: 0 auto;
}

h2 {
    line-height: 5vh;
    border-bottom: solid 2px #b3b3b3;
}

h2:hover{
    color: #b0f3ff;
}

main {
    background-color: #b3b3b3;
    margin: 0 auto; 

    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

#header-image {
    background: url(https://images.unsplash.com/photo-1568564385710-e4cb06c0adcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1926&q=80);
    filter: saturate(0);
    background-position-x: center;
    background-position-y: 70%;
    background-size: cover;
    height: 30vh;
    width: 100%;
    transition: all 1s;
}

#header-image:hover{
    filter: saturate(1.1);
}

#products-container {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
#products-container div {
    flex-basis: 40%;
    display: inline-block;
    text-align: left;
}

#photo{
    padding: 2vw;
}

#photo:hover {
    background-color: #dfb0ff;
    border-radius: 2vw;
}

#designer {
    padding: 2vw;
}

#designer:hover {
    background: #b0f3ff;
    border-radius: 2vw;
}

.logos{
    display: inline-block;
    height: 200px;
    filter: saturate(0);
    transition: all;
    transition-duration: 1s;
}
#products-container div div.center {
    width: 100%;
    text-align: center;
}

#products-container div:hover div img.logos {
    filter:saturate(1);
}

#customer-testomonial {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.center {
    text-align: center;
}
.seventy {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
}

#map {
    width:100%;
    height: 40vh;
}


footer {
    width: 100%;
    color: #fff;
    border-top: solid 2px #fff;
    background-color: #2c2c2c;
    bottom: 0;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    height: 4vh;
    line-height: 4vh;
    padding-bottom: 4vh;
}

footer:hover {
    color: #b0f3ff;
    border-top: solid 2px #b0f3ff;
}

footer div {
    margin-left: 3vw;
    margin-right: 3vw;
}

footer div a {
    text-decoration: none;
    margin: 1px;
    color: inherit
}

footer div a:hover {
    font-weight: bold;
}