body {
    overflow: hidden;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

audio {
    display: none;
}
/* Formats x-wing on game page */
#bird {
    height: 10vh;
    width: 10vh;
    position: absolute;
    left: 10vw;
    background: url(bird.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Formats game on game page */
#game {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Formats pipes on game page */
.pipe {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: grey;*/
    height: 70vh;
    position: absolute;
    filter: brightness(1.75);
}

/* Formats score box on game page */
#score {
    justify-content: center;
    align-items: center;
    background: rgb(19, 243, 243);
    position: absolute;
    width: 5vw;
    height: 5vh;
    display: flex;
    color: white;
    font-weight: bold;
    left: 47.5vw;
    top: 2.5vh;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 16px;
}

/* Formats Header on home page */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;
    font-family: 'Press Start 2P';
    text-align: center;
}

/* Formats X-Wing on home page */
#bird-home-page {
    display: flex;
    justify-content: center;
    align-content: center; 
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 10%;
}

#menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

/* Formats buttons */
.buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 16px;
    background-color: black;
    width: 200px;
    height: 100px;
    color: white;
    font-family: 'Press Start 2P';
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    line-height:100px;
}

#game-over {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

#deathStar {
    display: flex;
    align-content: center;
    align-items: center;
    width: 650px;
    height: 400px;
    margin: auto;
    margin-top: 2%;
}

/* Formats home page if smaller than 730 pixels */
@media only screen and (max-width: 730px) {
    main {
        flex-wrap: wrap;
    }
}

/* Formats home page if larger than 730 pixels */
@media only screen and (min-width: 730px) {
    main {
        flex-wrap: none;
    }
}

